
.Content {
  margin-top: 72px;
  /* border: 1px solid red; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  
  /* border: 3px solid blue; */
  height: 100%;
}

.Page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  height: 100%;
}