.Error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid orange;
  box-sizing: border-box;
}
/* 
p {
  border: 1px solid red;
  box-sizing: border-box;
} */
/* 
.Button {
  border: 1px solid green;
  box-sizing: border-box;
} */